# Created by .ignore support plugin (hsz.mobi)
/plugins
/webapps
/postgres-data
/.classpath
/.project
/.settings
/WebContent
/.env
/certs
/auth
/data
*.swp
/logs
/nginx/nginx-ssl.conf
/downloads
/config-auth
/disabled
.history